net use x: \\SALA37\homes
net use z: \\SALA37\informatyka

{% if item.name == "nauczyciele" %}
net use y: \\SALA37\prace
net use q: \\SALA37\serwer_homes
{%else %}
net use y: \\SALA37\{{item.name}}
{% endif %}

